@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

@font-face {
  font-family: Gotham;
  src: url("/public/fonts/Gotham/Rounded/Light.otf");
}

@font-face {
  font-family: GothamBold;
  src: url("/public/fonts/Gotham/Rounded/Bold.otf");
}

:root {
  font-family: Gotham;
  line-height: 1.5;
  font-weight: 400;
  min-width: 100%;
  color: whitesmoke;

  background-color: rgb(0, 0, 0, 0.9);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {

  width: 13px;
  height: 10px;

}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0, 0.9);
  border-radius: 45px;


}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #908a8a;
  -webkit-transition: all 0.3s ease-in;
  border-radius: 45px;


}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e0d7d7;

}